*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}        


body, 
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

        
.container {
   display: grid;
   grid-template-columns: 250px 1fr; /* 1fr for content area */
            min-height: 100vh; /* Make sure the container covers the entire viewport height */
        }

        /* Style the navbar */
        nav {
            background-color: #333;
            color: #fff;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav li {
            margin-bottom: 10px;
        }

        nav a {
            text-decoration: none;
            color: #fff;
            cursor: pointer; /* Add a pointer cursor to menu items */
        }

        /* Style the content area */
        main {
            padding: 20px;
        }

        .active {
           display: block;
          display: flex;
          justify-content: center;
          
        }

        div {
            display: none;
}
li {
   list-style: none; 
}
a {
    text-decoration: none;
}
a:hover {
    color: #f00;
}
.social-icons {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}
.social-icons svg :hover {
    fill: #f00;
}