:root {
    --white: #fff;
    --red: #f00;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 250px 1fr; /* 1fr for content area */
    min-height: 100vh; 
}
img,
picture,
svg {
    max-width: 100%;
    display: block;
}
.profile-pic {
    width: 20em;
    height: 20em;
}
.profile-pic,
.robbie {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sidebar {
    height: 100%;
    width: 200px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--white);
    display: block;
}
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
div {
  display: none;
}
li {
  list-style: none; 
}
a {
  text-decoration: none;
}
a:hover {
color: #f00;
}
.sidebar a:hover {
    color: #f00;
}
.social-icons {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}
.social-icons svg :hover {
    fill: #f00;
}
.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    gap: 10px;
    justify-items: center;
}

/* Style the images */
.content img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
}
